fastapi
uvicorn
langchain
langgraph
langchain-openai
langchain-community
python-dotenv
arxiv
nest_asyncio
sse-starlette
# openai (NO fijar versión, dejar que langchain-openai gestione la dependencia) 